.footer {
    padding-top: 25px;
    padding-bottom: 30px;
    background-color: $darkGrey;
    a {
        color: #fff;
        font-size: $font-xs;
        letter-spacing: .2px;
        line-height: 24px;

    }
    &__logo {
        h2 {
            font-weight: inherit;
            font-size: $font-m;
            padding-bottom: 16px;
        }

    }
    &__icon {
        i {
            width: 20px;
            padding-right: 30px;
        }

    }
    &__contact {
        display: flex;
        flex-direction: column;

    }
}