// Colors
$primary: #9356DC; // purple
$secondary: #FF79DA; // pink
$tertiary: #99E2D0; // green
$ligthGrey: #F6F6F6;
$grey: #eaeaea;
$darkGrey: #353535;

// Font sizes /16
$font-sm: 0.875rem; // 14px
$font-m: 1.125rem; // 18px
$ont-l: 1.25rem; // 20px