.footer {
    padding-top: 1.5625rem;
    padding-bottom: 1.875rem;
    background-color: $darkGrey;

    @include breakpoint(large) {
        height: 9.375rem;
        .container {
            display: flex;
            justify-content: space-between;
        }
    }

    a {
        color: #fff;
        font-size: $font-xs;
        letter-spacing: .2px;
        line-height: 1.5rem;

        @include breakpoint(large) {
            font-size: $font-m;
        }
    }
    &__logo {
        h2 {
            font-size: $font-m;
            padding-bottom: 1rem;

            @include breakpoint(large) {
                font-size: $font-l;
            }
        }

    }
    &__icon {
        transition: 1s;

        p {
            transition: 200ms;
        }

        > a:hover {
            color: lighten($primary, 30%);
        }
        i {
            width: 1.25rem;
            padding-right: 1.875rem;
        }

    }
    &__contact {
        display: flex;
        flex-direction: column;

        > a:hover {
            transition: 200ms;
            color: lighten($primary, 30%);
        }
    }
}