.footer {
    padding-top: 25px;
    padding-bottom: 30px;
    background-color: $darkGrey;

    @include breakpoint(large) {
        .container {
            display: flex;
            justify-content: space-between;
        }
    }

    a {
        color: #fff;
        font-size: $font-xs;
        letter-spacing: .2px;
        line-height: 24px;

        @include breakpoint(large) {
            font-size: $font-m;
        }
    }
    &__logo {
        h2 {
            font-weight: inherit;
            font-size: $font-m;
            padding-bottom: 16px;

            @include breakpoint(large) {
                font-size: $font-l;
            }
        }

    }
    &__icon {
        i {
            width: 20px;
            padding-right: 30px;
        }

    }
    &__contact {
        display: flex;
        flex-direction: column;

    }
}