.restaurants {
    background-color: $lightGrey;

    &__title {
        @extend .function__title;
        font-family: 'Roboto', sans-serif;
    }
    &__all {
        @include breakpoint(medium) {
            display: grid;
            grid-template-columns: repeat(2, 1fr );
            grid-gap: 20px;
        }
    }

    &__info {
        background-color: #fff;
        box-shadow: 2px 4px 8px darken($grey, 5%);
        margin-bottom: 20px;
        border-radius: 15px;
        overflow: hidden;
        transition: 200ms;
        position: relative;

        &:hover {
            box-shadow: 3px 5px 9px darken($grey, 10%);
        }

        @include breakpoint(medium) {
            margin-bottom: 0;
        }

        img {
            height: 180px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            transition: 200ms;

            &:hover {
                opacity: .9;
            }
        }

        figcaption {
            > p {
                background-color: $tertiary;
                color: darken($tertiary, 35%);
                font-weight: 700;
                font-size: 14px;
                padding: 7px 16px;
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 4%;
                margin-right: 4%;
            }
        }
    }

    &__legend {
        padding: 10px 20px 15px;
        color: $fontColor;
    }

    &__text {
        > p {
            letter-spacing: .2px;
            &:first-child {
                font-weight: 700;
                font-size: $font-m;
            }
        }
    }

    &__heart {
        fill: transparent;
        stroke: $fontColor;
        cursor: pointer;
        position: relative;

        svg {
            overflow: visible;
        }

        &-full {
            fill: url(#Gradient);
            stroke: url(#Gradient);
            opacity: 0;

            position: absolute;
            left: 0;
            right: 0;
            stroke: none;
            transition: 200ms;

            &:active {
                transform: scale(1.1);
                opacity: 1;
            }

            @include breakpoint(large) {
                &:hover {
                    transform: scale(1.1);
                    opacity: 1;
                }
            }
        }
    }
}