// check rotation
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

// cards apparition
@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes from-the-bottom {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0);
    }
  }

// Loading spinner
@keyframes bouncer {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-100px);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}