html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: lighten(black, 10%);
    font-size: $font-xs;
    line-height: 1.3;
    letter-spacing: -.5px;
    min-height: 100vh;

    @include breakpoint(large) {
        font-size: $font-m;
    }
}

main {
    min-height: 100%;
}

h1, h2 {
    font-family: 'Shrikhand', cursive;
    font-weight: inherit;
}

a {
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.375rem;
    color: lighten(black, 10%);
}

// Flexbox
.flex {
    display: flex;
    &-jc-c {
        justify-content: center;
    }
    &-jc-sb {
        justify-content: space-between;
    }
    &-ai-c {
        align-items: center;
    }
}

// Spacing
.container {
    max-width: 69.375rem; //1110
    margin: 0 auto;

    &--pall {
        padding-top: 3.125rem; // 50px
        padding-bottom: 3.75rem; // 60px
        padding-left: 1.25rem; // 20px
        padding-right: 1.25rem; // 20px

        @include breakpoint(large) {
            padding-top: 1.875rem;
            padding-bottom: 1.875rem;
        }
    }
    &--px {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    &--pb {
        padding-bottom: 3.75rem;

        @include breakpoint(large) {
            padding-bottom: 1.75rem;
        }
    }
}

.button {
    box-shadow: 2px 4px 8px darken($grey, 15%);
    border: none;
    font-size: $font-s;
    cursor: pointer;
    transition-duration: 200ms;

    &:hover {
        box-shadow: 4px 8px 16px darken($grey, 25%);
    }
}