// Colors
$primary: #9356DC; // purple
$secondary: #FF79DA; // pink
$tertiary: #99E2D0; // green
$lightGrey: #F6F6F6;
$grey: #eaeaea;
$darkGrey: #353535;
$fontColor: lighten(black, 10%);

// Font sizes /16
$font-xs: 1rem; // 16px
$font-s: 1.0625rem; // 17px
$font-m: 1.125rem; // 18px
$font-l: 1.25rem; // 20px
$font-xl: 1.5rem; // 24px